source 'https://rubygems.org'

group :test do
  gem 'devutils'
end

group :development do
  <%= "gem 'devutils-docs'" if options[:docs] %>
  <%= "gem 'devutils-metrics'" if options[:metrics] %>
  <%= "gem 'devutils-guard'" if options[:guard] %>
end
